* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* header */
header {
    width: 1200px;
    height: 75px;
    border-bottom: 2px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

header nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 0px;
    transition: bottom .25s ease;
}

header nav a:hover {
    bottom: 5px;
}

/* slider */

.slider-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slider {
    margin: 30px auto;
    overflow: hidden;
    width: 656px;
    height: 556px;
    border: none;
    

}

#slider img {
    width: 656px;
    height: 556px;
    object-fit: contain;
}



.slider-line {
    display: flex;
    position: relative;
    transition: 0.5s ease;
}

#left {
    position: absolute;
    left: 100px;
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 26px;
    cursor: pointer;
}

#right {
    position: absolute;
    right: 100px;
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 26px;
    cursor: pointer;
}

/* cms.php */

main {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.product-create,
.slider-product-create {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.product-create input,
.product-create button,
.slider-product-create input,
.slider-product-create button,
.slider-product-create select {
    font-size: 18px;
    padding: 10px 20px;
    border: 0; 
    outline: 0;
    background-color: #ececec;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* product.php */

img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid #cecece;
}

.container {
    width: 1200px;
    height: 500px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-right: 50%;
}





